[submodule "Custom-Assert"]
	path = Custom-Assert
	url = https://github.com/ashqqy/Custom-Assert
[submodule "Files-Reading"]
	path = Files-Reading
	url = https://github.com/ashqqy/Files-Reading
[submodule "My-Allocation"]
	path = My-Allocation
	url = https://github.com/ashqqy/My-Allocation.git
